#tabla {
    width: 100%;
}

.fila-casilla {
    height: 7.6%;
}

.casilla {
    height: 100%;
    width: 6.6%;
    float: left;
    text-align: center;
}

#casillaEspecial {
    float: left;
    height: 100%;
    width: 85.8%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("../img/bg.png");
}

#estela {
    display: none;
}

#casillaEstela {
    background-color: white;
    color: transparent;
    width: 2.5em;
    font-size: 0.9em;
    display: inline-block;
    border-radius: 0.5em;
    margin-left: 0.5em;
}

#estela:checked+#casillaEstela {
    color: green;
}

#colDerecha{
    min-height:5em;
    border-left:0.01em solid gray;
    font-weight: bold;
}

.cm-azul{color:blue}
.cm-violeta{color:violet}
.cm-verde{color:green}
.cm-rojo{color:red}