/*Página de inicio*/

#inicio {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

#inicioArriba {
    background-color: #218838;
}

#inicioAbajo {
    background-color: #e0a800;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    color: white;
    width: 100vw;
    height: 50vh;
    transition: font-size 0.5s, text-shadow 0.5s;
}

.centro:hover {
    text-shadow: 0 0 0.1em black;
    font-size: 3.5em;
}

#inicioCentro {
    position: absolute;
    width: 15em;
    height: 15em;
    top: 50%;
    left: 50%;
    margin-top: -7.5em;
    margin-left: -7.5em;
    border-radius: 100%;
    background: url("../img/demeter.png");
    /*Todos los derechos de esta imágen son de la unión europea*/
    background-size: cover;
    box-shadow: 0 0 0.5em black;
}

/*Tabla*/

#tabla {
    width: 100%;
}

.fila-casilla {
    height: 7.6%;
}

.casilla {
    height: 100%;
    width: 6.6%;
    float: left;
    text-align: center;
}

#casillaEspecial {
    float: left;
    height: 100%;
    width: 85.8%;
}

/*Body*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("../img/bg.png");
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

/*Botón estela*/

#estela {
    display: none;
}

#casillaEstela {
    background-color: white;
    color: transparent;
    width: 2.5em;
    font-size: 0.9em;
    display: inline-block;
    border-radius: 0.5em;
    margin-left: 0.5em;
}

#estela:checked+#casillaEstela {
    color: green;
}

/*Columna derecha*/

#colDerecha {
    min-height: 5em;
    border-left: 0.01em solid gray;
    font-weight: bold;
}

/*Colores comandos*/

.cm-azul {
    color: blue
}

.cm-violeta {
    color: violet
}

.cm-verde {
    color: green
}

.cm-rojo {
    color: red
}

/*Crea tu mapa Drag and Drop*/

#contenedorElementos>div {
    padding-top: 1em;
    margin: 0;
}

.draggable {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable:focus {
    cursor: grabbing;
}

#eliminaDragAndDrop {
    color: red;
    padding: 0.5em;
    border: 0.05em solid red;
    border-radius: 0.5em;
    transition: 0.5s;
}

#eliminaDragAndDrop:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

/*Otros*/

.z-index-4 {
    z-index: 4;
}

.modal-body, .CodeMirror {
    -webkit-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -ms-user-select: text;
}

.CodeMirror-scroll {
    cursor: text;
}

.CodeMirror-gutters{
    cursor: default;
}