#tabla {
    width: 100%;
}

.fila-casilla {
    height: 7.6%;
}

.casilla {
    height: 100%;
    width: 6.6%;
    float: left;
    text-align: center;
}

#casillaEspecial {
    float: left;
    height: 100%;
    width: 85.8%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("../img/bg.png");
}

#estela {
    display: none;
}

#casillaEstela {
    background-color: white;
    color: transparent;
    width: 2.5em;
    font-size: 0.9em;
    display: inline-block;
    border-radius: 0.5em;
    margin-left: 0.5em;
}

#estela:checked+#casillaEstela {
    color: green;
}

#texto, #textoColor {
    vertical-align: middle;
    line-height: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: 1em;
    min-height: 3em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#textoColor {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0.1em solid gray;
}

#texto {
    position: absolute;
    color: transparent;
    background-color: transparent;
    caret-color: black;
    border: 0;
    resize: none;
}